.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #5dcfee;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Logo & Navbar images */

.socialicon {
  margin-top: 5%;
}

#A3 {
  color: yellow;
}

#D {
  color: red;
}

#P {
  color: skyblue;
}

body{
  background-color: #dac7c4;
}
/* Dreamprint Request Styling */

a{
  /* cursor: pointer , none; */
  
  text-decoration: none;
  /* background: url(https://static5.depositphotos.com/1004996/466/v/950/depositphotos_4663760-stock-illustration-color-paint-splashes-round-background.jpg) repeat-x 0 100%; */
  padding-bottom: 1px;
}

.request-info {
  text-align: left;
}

.the-h4 {
  display: inline;
}

li {
  list-style-type: none;
}

/* Faqs */

.faq-1 {
  text-align: right;
}

.faq-2 {
  text-align: left;
}

/* FOOTER */

footer {
  font-family: cursive;
}



.main-info {
  font-family: auto;
}

#footerdream{
  border: 20px solid #0f0f0f;
    border-image-source: url(https://previews.123rf.com/images/vicushka/vicushka1902/vicushka190200071/116812600-magnolia-pink-blossom-flowers-frame-at-light-blue-turquoise-background-floral-border-pattern-of-bran.jpg);
    border-image-slice: 20 22;
    border-image-repeat: round;
    background-color: #DAC7C4;  
    font-size: 30px;
    
}